span {
    color: orange;
}

body {
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h4 {
    font-style: italic;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 80px;
}

img {
    width: 80%;
}

.link-buttom {
    text-transform: none;
    background-color: brown;
    padding: 15px 45px;
    border-radius: 8px;
    color: white;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0px 0px;

}