span {
    color: orange;
}

body {
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h4 {
    font-style: italic;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 80px;
}

img {
    width: 80%;
}

.link-buttom {
    text-transform: none;
    background-color: brown;
    padding: 15px 45px;
    border-radius: 8px;
    color: white;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0px 0px;
    margin-bottom: 100px;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

h3 {
    color: orange;
}

.full-web {
    margin-left: 80px;
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 7px;

}

#Full-web-Developer {
    border-left: 7px solid brown;
}

#Baby-web-Developer {
    border-left: 7px solid green;
}


.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer p {
    text-align: center;
}